* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

/* nav */

nav {
    padding: 20px 0;
}

.navi {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

ul.nav_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.navi a {
    font-size: 20px;
    padding: 5px;
}

.navi a:hover{
    background-color: #191A23;
    color: white;
}

.logo a {
    font-size: 33px;
    font-weight: 600;
}

ul.nav_items button {
    padding: 4px;
    border-radius: 7px;
    background-color: transparent;
}
ul.nav_items button:hover{
    background-color: #191A23;
    color: white;
}

/* section_one */



.content_two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.conteny2_img,
.main_content_2 {
    width: 50%;
}

section.sec_two {
    margin: 45px 0;
}

.main_content_2 p {
    padding-top: 39px;
}

.main_content_2 h1 {
    padding: 0 11% 0 0;
    font-size: 50px;
    font-weight: 600;
}

.main_content_2 button {
    padding: 15px 10px;
    border-radius: 7px;
    background-color: #191A23;
    outline: none;
    border: 1px solid black;
    color: white;
    font-size: 19px;
}

/* section_three */

section.sec_three {
    margin: 50px 0;
}

.content-three {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* section_four */

.content_four {
    display: flex;
    gap: 27px;
}

.content_four h3 {
    background-color: #B9FF66;
    padding: 9px 18px;
    border-radius: 7px;
}

/* section_five */


.box1 {
    margin: 50px 0;
    background-color: #B9FF66;
    padding: 0 20px;    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    display: flex;
    align-items: center;
    gap: 22px;
}


.box1 {
    border: 1px solid;
    background-color: #F3F3F3;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 3px 0px 0px black;
}

.minus img {
    width: 75%;
}

.ending{
    display: none;
}
#minus1,#minus2,#minus3,#minus3,#minus4,#minus5,#minus6{
    display: none;
    border: none;
}